*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: aquamarine;
}

main{
    height: 95vh;
    margin-left: 3rem;
}

li{
    margin-left: 15px;
}

h2{
    padding: 10px 0;
}

img{
width: 20%;
border-radius: 50%;
}

footer{
    height: 5vh;
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
}